
*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body
{
    font-family: montserrat;
    background-image: url('');
    cursor: url("cursor.cur")4 12, auto;
    cursor: url("cursor2.cur")2 2,pointer, auto;
}
nav
{
    background: #213f80;
    height: 80px;
    width: 100%;
}
label.logo
{
    transform: translate(0, 40%);
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul
{
    float: right;
    margin-right: 20px;
}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 2%;
}
nav ul li a
{
    color: white;
    font-size: 17px;
    padding: .5vw 2vw;
    border-radius: 3%;
    text-transform: uppercase;
}
.active_titlu
{
    margin: 0 5px;
    display: inline-block;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transform: translate(0, -100%);
    background: #4264c2;
}
a.active:hover
{
    background: #4264c2;
    transition: .5s;
}
.checkbtn
{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check
{
    display: none;
}
.paragraf
{
    margin: 3%;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav_titlu
{
    background: #213f80;
    height: 10%;
    width: 100%;
    margin-left: 0;
    font-size: calc(.6em + 1vw);
}
.nav_titlu_sus
{
    background: #213f80;
    height: 18%;
    width: 100%;
    margin-left: 0;
    font-size: calc(.6em + 1vw);
    position: fixed;
    z-index: 1;
}
.nav_meniu
{
    background: #213f80;
    height: 10%;
    width: 100%;
    margin-left: 0;
    font-size: calc(.6em + 1vw);
    position: relative;
}
.titlu
{
    padding: 0;
    margin: 0;
    border: 0;
}
summary
{
    padding: .5em;
    background: #6531A8;
    margin-bottom: 1em;
    font-weight: bold;
    font-family: Trebuchet;
    width: 40%;
}
.summary_special
{
    padding: .8em;
    background: #6531A8;
    margin-bottom: 1em;
    font-weight: bold;
    font-family: Trebuchet;
    height: 10%;
    width: 40%;
}
.test_stanga
{
    transform:translate(-100,0);
}
@media screen and (max-width: 500px)
{
    .ul_titlu
    {
        transform: translate(0, -30%);
    }
    .box
    {   
        height: 83% !important;
        padding: 5%;
        left:20%;
        right:60%;
        width: 90%;
        transform: translate(-45%, -50%) !important;
        overflow: hidden;
    }
    label.logo
    {
        color: white;
        font-size: calc(.6em + 2vw);
        line-height: 80px;
        position: relative;
        font-weight: bold;
        margin: 0;
        padding: 0;
        transform: translate(0, -40%);
    }
    head
    {
        font-size: calc(.6em + 1vw);
    }
    .nav_titlu
    {
        background: #213f80;
        height: 15%;
        width: 100%;
        margin-left: 0;
        font-size: 6vw;
        padding:1%;
    }
    .nav_titlu_sus
    {
        background: #213f80;
        height: 50vw;
        width: 100%;
        margin-left: 0;
        font-size: 5vw;
        padding:0.1%;
        position: fixed;
        z-index: 1;
    }
    .nav_titlu_sus ul 
    {
        transform: translate(0, -15%);
        position: relative;
    }
    .nav_titlu ul li 
    {
        display: inline;
        float: left;
        transform: translate(15%, -7%);
        padding: -10%;
        margin: -10%;
    }
    .nav_titlu ul li a 
    {
        padding: 0.1%;
        margin-right: 2vw;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .nav_meniu
    {
        margin: 1 !important;
        background: #213f80;
        height: 10%;
        width: 95%;
        font-size: 5%;
        transform: translate(30%, -60%);
    }
    .notransition * 
    {
        transition: none !important;
    }
    body
    {
        overflow: auto;
        font-family: montserrat;
        font-size: calc(.6em + 1vw);
    }
    section
    {
        background: url(imagine_fundal_final.png) no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        margin-left: 0;
    }
    .box 
    {
        padding: 5%;
        width: 50%;
        height: 70%;
        left: 20%;
        top: 55%;
        transform: translate(-50%, -60%);
    }
}
section
{
    transform: translate(0, 18%);
    background: url(imagine_fundal_final.png) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
.spatiu
{
    background: url(fundal_din_fundal) no-repeat;
    height: 16vh;
}
html
{
    scroll-behavior: smooth;
}