/*Comment*/
*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body
{
    font-family: montserrat;
    background-image: url('');
    cursor: url("cursor.cur")4 12, auto;
    cursor: url("cursor2.cur")2 2,pointer, auto;
}
nav
{
    background: #213f80;
    height: 80px;
    width: 100%;
}
label.logo
{
    transform: translate(0, 40%);
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul
{
    float: right;
    margin-right: 20px;
}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a
{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.active_titlu
{
    margin: 0 5px;
    display: inline-block;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transform: translate(0, -100%);
    background: #4264c2;

    /*transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;*/
}
/*.active_titlu:hover
{
    transform: translate(0, -10%);
}
.active
{
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}
.active:hover
{
    transform: translate(10px, 0);
    background: #4264c2;
    transition: .5s;
}*/
a.active:hover
{
    background: #4264c2;
    transition: .5s;
}
.checkbtn
{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check
{
    display: none;
}
.paragraf
{
    margin: 3%;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav_titlu
{
    background: #213f80;
    height: 10%;
    width: 100%;
    margin-left: 0;
    font-size: calc(.6em + 1vw);
}
.nav_titlu_sus
{
    background: #213f80;
    height: 10%;
    width: 100%;
    margin-left: 0;
    font-size: calc(.6em + 1vw);
}
.nav_meniu
{
    background: #213f80;
    height: 10%;
    width: 100%;
    margin-left: 0;
    font-size: calc(.6em + 1vw);

    /*animation-name: inStanga;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;*/
}
.titlu
{
    padding: 0;
    margin: 0;
    border: 0;
}
/*@keyframe inStanga
{
    from
    {
        transform: translateX(-400px);
    }
    to
    {
        transform: translateX(0);
    }
}
@keyframe inSus
{
    from
    {
        transform: translateY(0);
    }
    to
    {
        transform: translateY(-10%);
    }
}*/
@media screen and (max-width: 500px)
{
    .ul_titlu
    {
        transform: translate(0, -35%);
    }
    .box
    {   
        height: 70%;
        padding: 5%;
        left:20%;
        right:60%;
        width: 90%;
        transform: translate(20%, 55%);
        overflow: hidden;
    }
    label.logo
    {
        color: white;
        font-size: calc(.6em + 2vw);
        line-height: 80px;
        position: relative;
        font-weight: bold;
        margin: 0;
        padding: 0;
        transform: translate(0, -40%);
    }
    head
    {
        font-size: calc(.6em + 1vw);
    }
    .nav_titlu
    {
        background: #213f80;
        height: 15%;
        width: 100%;
        margin-left: 0;
        font-size: 6vw;
        padding:1%;
    }
    .nav_titlu_sus
    {
        background: #213f80;
        height: 50vw;
        width: 100%;
        margin-left: 0;
        font-size: 5vw;
        padding:0.1%;
        position: fixed;
        z-index: 1;
    }
    .nav_titlu_sus ul 
    {
        transform: translate(0, -15%);
        position: relative;
    }
    .nav_titlu ul li 
    {
        display: inline;
        float: left;
        transform: translate(15%, -7%);
        padding: -10%;
        margin: -10%;
    }
    .nav_titlu ul li a 
    {
        padding: 0.1%;
        margin-right: 2vw;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .nav_meniu
    {
        background: #213f80;
        height: 10%;
        width: 100%;
        font-size: 5vw;
        transform: translate(30%, -15%);
    }
    .notransition * 
    {
        transition: none !important;
    }
    /*nav
    {
        background: #213f80;
        height: 25%;
        width: 100%;
        margin-left: 0;
        font-size: 6vw;
    }
    nav ul
    {
        float: right;
        background-position-x: 40%;
    }
    nav ul li a
    {
        font-size: 4vw;
        width: 100%;
        background-position-x: 40%;
    }*/
    body
    {
        overflow: auto;
        font-family: montserrat;
        font-size: calc(.6em + 1vw);
    }
    /*.checkbtn
    {
        display: block;
    }
    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a 
    {
        font-size: 70px;
    }
    a:hover,a.active
    {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul
    {
        left: 0;
    }*/
    section
    {
        background: url(imagine_fundal_final.png) no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        margin-left: 0;
    }
    .box 
    {
        padding: 5%;
        width: 50%;
        height: 70%;
        left: 20%;
        top: 55%;
        transform: translate(-50%, -60%);
    }
}
section
{
    background: url(imagine_fundal_final.png) no-repeat;
    background-size: cover;
    height: calc(110vh - 80px);
}
html
{
    scroll-behavior: smooth;
}
.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
     max-width: 130%;
     max-height:100%;
     align-items: left;
   }